<a href="https://colab.research.google.com/github/DineshTKEC/Service-Marketing/blob/main/RScripts_demo_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Welcome To Marketing Analytics  in Business Analytics")

[1] "Welcome To Marketing Analytics  in Business Analytics"

In [ ]:
print("print command displays content which is enclosed in print :") hr

[1] "print command displays content which is enclosed in print :"

In [ ]:
print("Arithmetic operations")

[1] "Arithmetic operations"

In [ ]:
a<-10;
print( "value assigned to variable a",print(a));

[1] 10
[1] "value assigned to variable a"

In [ ]:
a<-10; b<-8;
print(a+b)

[1] 18

In [ ]:
print(a-b)

[1] 2

In [ ]:
print(a*b)

[1] 80

In [ ]:
print(a/b)

[1] 1.25

In [ ]:
print(a%%b)

[1] 2

In [ ]:
print(a**4)

[1] 10000

In [ ]:
print("Miscellaneous Operators")

[1] "Miscellaneous Operators"

In [ ]:
print("1.Sequence operators")

[1] "1.Sequence operators"

In [ ]:
seq(1:5)

[1] 1 2 3 4 5

In [ ]:
a <- 2       # first term
d <- 3       # common difference
n <- 5       # number of terms

seq(from = a, by = d, length.out = n)

[1]  2  5  8 11 14

In [ ]:
seq(1, 10, by = 2)
# Output: 1 3 5 7 9

[1] 1 3 5 7 9

In [ ]:
seq(1, 10, by = 1)
# Output: 1 2 3 4 5 6 7 8  9 10

 [1]  1  2  3  4  5  6  7  8  9 10

In [ ]:
seq(10, 1, by = -1)
# Output: 10  9 8 7 6 5 4 3 2 1

 [1] 10  9  8  7  6  5  4  3  2  1

In [ ]:
print("Matching operator")
3 %in% c(1,2,3)

[1] "Matching operator"

[1] TRUE

In [ ]:
# The matching operator in R is %in%, and it's used to check if elements of one vector exist in another.
x <- c(2, 4, 6)
y <- c(1, 2, 3, 4, 5)

x %in% y
# Output: TRUE TRUE FALSE
#Explanation: 2 and 4 are in y, 6 is not.

[1]  TRUE  TRUE FALSE

In [ ]:
states <- c("NY", "CA", "TX", "FL")
target <- c("TX", "FL", "WA")

states %in% target
# Output: FALSE FALSE TRUE TRUE
#Explanation: TX  and FL is  TRUE

[1] FALSE FALSE  TRUE  TRUE

In [ ]:
fruits <- c("apple", "banana", "cherry", "date")
selected <- c("banana", "date")

fruits[fruits %in% selected]
# Output: "banana" "date"
#Explanation: Keeps only elements in fruits that are also in selected.

[1] "banana" "date"

In [ ]:
fruits[!fruits %in% selected]
# Output: "apple" "cherry"
#Explanation: Removes items that are in selected.

[1] "apple"  "cherry"

In [ ]:
print("MATRIX MULTIPLICATION")

[1] "MATRIX MULTIPLICATION"

In [ ]:
# 2 rows, 3 columns
A <- matrix(c(1, 2, 3, 4, 5, 6), nrow = 2, byrow = TRUE)

# 3 rows, 2 columns
B <- matrix(c(7, 8, 9, 10, 11, 12), nrow = 3, byrow = TRUE)

# Matrix multiplication
C <- A %*% B

print(C)

     [,1] [,2]
[1,]   58   64
[2,]  139  154

In [ ]:
# Define two matrices
A <- matrix(c(1, 2, 3, 4), nrow = 2)   # 2x2 matrix
B <- matrix(c(5, 6, 7, 8), nrow = 2)   # 2x2 matrix

# Multiply A and B
C <- A %*% B

print(C)

     [,1] [,2]
[1,]   23   31
[2,]   34   46

In [ ]:
print("RELATIONAL OR COMPARISON OPERATORS")

[1] "RELATIONAL OR COMPARISON OPERATORS"

In [ ]:
print(	5 == 5 )
#output: 	5 == 5 → TRUE

[1] TRUE

In [ ]:
print(5!=4)
#output: 	5  not equal to 4 → TRUE

[1] TRUE

In [ ]:
print(5!=5)
#output: 	5  not equal to 5→ FALSE

[1] FALSE

In [ ]:
print(5>4)

[1] TRUE

In [ ]:
print(5>6)

[1] FALSE

In [ ]:
print(5.5<=5.0)

[1] FALSE

In [ ]:
print(5.5>=5.0)

[1] TRUE

In [ ]:
print("repeat function")

[1] "repeat function"

In [ ]:
rep(5, times = 3)
# Output: 5 5 5
#Method: rep(x, times, each, length.out)

[1] 5 5 5

In [ ]:
#Method: rep(x, times, each, length.out)

#x: the value(s) to repeat

#times: how many times to repeat the full object

#each: how many times to repeat each element

# length.out: total length of the result *

In [ ]:
rep(c(1, 2), times = 3)
# Output: 1 2 1 2 1 2
#repeat vector

[1] 1 2 1 2 1 2

In [ ]:
rep(c(1, 2), each = 3)
# Output: 1 1 1 2 2 2
# repeat each element

[1] 1 1 1 2 2 2

In [ ]:
rep(c("a", "b", "c"), times = c(2, 1, 3))
# Output: "a" "a" "b" "c" "c" "c"

[1] "a" "a" "b" "c" "c" "c"

repeat with different elements for each

In [ ]:
rep(1:3, length.out = 10)
# Output: 1 2 3 1 2 3 1 2 3 1
# Repeat to a fixed length

 [1] 1 2 3 1 2 3 1 2 3 1